.signsdom {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signsdom_todo {
    width: 84vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sign__btn__img{
    border: none;
    background: none;
    cursor: pointer;
    margin: 2vh auto 0 0;
    font-size: 8vw;
}

.sign__icono{
    color: #464471;
}

.sign__img {
    width: 25vw;
    margin-top: 6vh;
}

.sign__form {
    width: 70vw;
    margin: auto 0;
}

.sign__botones-info {
    border: none;
    background: none;
    color: #464471;
    font-size: 3vh;
    margin-bottom: .5vh;
}

.sign__botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    height: 30vh;
    margin-bottom: 9.5vh;
}

.sign__botones div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sign__botones-primero {
    border: none;
    background: #464471;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 7vw;
    width: 100%;
    border-radius: 7px;
    padding: 1vh 0;
}

.sign__botones-segundo {
    border: 3px solid #FDB832;
    background: none;
    color: #464471;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 7vw;
    width: 100%;
    border-radius: 7px;
    padding: 1vh 0;
}