.alert {
    height: 100vh;
    width: 100vw;
    position: absolute;
    animation: aparecer 1s;
}

@keyframes aparecer {
    0% {
        transform: translateY(-100vh);
    }
}

.alert-dom {
    background: #FFF;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 15px 3px #000;
}

.alert__return {
    border: none;
    background: none;
    margin: 1vh auto 0 1vh;
    color: #464471;
    font-size: 6vw;
}

.alert__robot {
    width: 28vw;
}

.alert_rules {
    width: 90vw;
    margin: 0 0 2vh 0;
}

.alert_rules ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.alert_rules li {
    display: flex;
    align-items: center;
    font-size: 3.5vmin;
}

.alert_rules li p {
    width: 90%;
    margin: 0 0 3vh 0;
}

.alert__rules-icono{
    margin: 0 2vw 3vh 0;
    font-size: 4vw;
}

.alert__volver {
    height: 32vh;
}

.alert__volver_boton {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
}

@media only screen and (min-width: 550px) and (max-width: 1024px) {
    .alert__return {
        color: #464471;
        font-size: 4vh;
    }

    .alert__robot {
        width: 15vh;
    }

    .alert_rules {
        margin: 0 0 3.5vh 0;
    }

    .alert_rules li {
        font-size: 2vmin;
    }

    .alert__rules-icono{
        font-size: 3.5vmin;
    }
}