.alerta {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    animation: blurear 1s;
}

@keyframes blurear {
    0% {
        opacity: 0;
    }
}

.alerta-cartel {
    background: #fff;
    padding: 0 0 2vh 0;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 52vh;
    animation: aparecer 1s;
}

@keyframes aparecer {
    0% {
        transform: translateY(-100vh);
    }
}

.alerta-cartel-robot {
    width: 6.8vmax;
    margin: 3vh 0;
}

.alerta-cartel-reglas {
    margin: 0 3vw 0 3vw;
    font-size: 1.7vmin;
}

.alerta-cartel-reglas ul {
    list-style-type: none;
    padding: .5em 1em 0 1em;
    margin: 0;
}

.alerta-cartel-reglas li {
    font-size: 1.6vmin;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}

.alerta-cartel-reglas li p {
    width: 80%;
    margin: 0;
}

.alerta-cartel-reglas-icono {
    margin: 0 .5em 0 0;
}

.alerta-cartel button {
    position: relative;
    left: 17.9vw;
    border: none;
    background: #464471;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.4vmin;
    border-radius: 5px;
    padding: 1.2vh 1.8vw;
    cursor: pointer;
    margin-top: -1vh;
}